# Default lines from Cloud template: https://github.com/magento/magento-cloud/
*
!/.blackfire.yml
!/.gitignore
!/.magento.app.yaml
!/.magento.env.yaml*
!/.magento
!/.magento/**
/.magento/local
!/app
!/app/*/
!/app/code/**
!/app/design/**
!/app/etc/config.php
!/app/i18n/**
!/build_options.ini
!/composer.json
!/composer.lock
!/magento-vars.php
!/m2-hotfixes
!/m2-hotfixes/**
!/php.ini
!/scenario.bkf
!/update
!/update/.htaccess
!/README.md
!/tests
!/tests/**
!/Jenkinsfile-database-production
!/magepack.config.js

# Additional lines for our specific needs
.DS_Store
!/composer.patches.json
!/dev/tools/grunt/configs/local-themes.js
!/fabfile.py
!/grunt-config.json
!/Gruntfile.js
!/Makefile
!/npm-shrinkwrap.json
!/package.json
!/pub/errors/custom/
!/pub/errors/local.xml
!/pub/.blackfire.yaml
!/pub/google.txt
!/pub/pinterest-64b89.html
!/pub/favicon.ico
!/pub/apple-touch-icon*
!/tools/
/tools/dbdumps/*
/tools/make/*
!/vendor_patches
!/vendor_patches/*
/vendor_patches/.DS_Store
!grumphp.yml
!/bitbucket-pipelines.yml
!/phpunit.xml
!ruleset.xml
!/.phpro
!/.phpro/db
!/.phpro/db/**
!/.phpro/cfg
!/.phpro/cfg/my.cnf
!/.phpro/cfg/config.env
!/.phpro/cfg/env.php
!/.phpro/cfg/warden.env
!/.phpro/cfg/warden.env.php
!/.docker
!/.docker/varnish/default.vcl
!/.docker/config.php.dist
!/scripts
!/scripts/**
/coverage/
clover.xml
.env.kevin
!/.php-cs-fixer.php
.php-cs-fixer.dist.php
!/packages
!/packages/**

!/docs
!/docs/**